@page "/InfoAndResources"

<h3>Info & Resources</h3>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="containerFadeIn">
        <h6 class="pb-2 mb-0">
            <b>Contact Information: </b>Bart Czernicki social media -
            <a href="https://www.twitter.com/bartczernicki" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
            <a href="https://www.github.com/bartczernicki" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> </a>
            <a href="https://www.linkedin.com/in/bartczernicki" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
            <a href="https://www.amazon.com/s?k=bart+czernicki" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i> </a>
        </h6>
        <h6 class="pb-2 mb-0"><b>Baseball ML Workbench Version: </b>2.0.0-beta</h6>
        <h6 class="pb-2 mb-0"><b>Date Last Updated: </b>03.15.2022</h6>
        <h6 class="pb-2 mb-0"><b>Machine Learning Models Last Updated Date (version): </b>03.15.2022</h6>
        <h6 class="pb-2 mb-0"><b>Last complete baseball season data (year) used: </b>2021</h6>
        <h6 class="pb-2 mb-0"><b>ASP.NET Core Version: </b>6.x</h6>
        <h6 class="pb-2 mb-0"><b>ML.NET Version: </b>1.7.1</h6>
        <h6 class="pb-2 mb-0"><b>Workbench Source Code: </b><a href="https://github.com/bartczernicki/MachineLearning-BaseballPrediction-BlazorApp" target="_blank">GitHub Source Code Repository</a></h6>
        <h6 class="pb-2 mb-0"><b>Microsoft Architecture Site - Baseball decision analysis with ML.NET and Blazor: </b><a href="https://docs.microsoft.com/en-us/azure/architecture/data-guide/big-data/baseball-ml-workload" target="_blank">Baseball decision analysis with ML.NET and Blazor</a></h6>
        <h6 class="pb-2 mb-0"><b>DockerHub Repository: </b><a href="https://hub.docker.com/r/bartczernicki/baseballmachinelearningworkbench" target="_blank">DockerHub Repository</a></h6>
        <h6 class="pb-2 mb-0"><b>Machine Learning Models used in this application (ML Model Training Job & Source Code): </b><a href="https://github.com/bartczernicki/MLDotNet-BaseballClassification" target="_blank">GitHub Source Code Repository</a></h6>
    </div>
</div>

<section class="our-webcoderskull padding-lg">
    <div class="containerFadeIn">
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 360px;">
                    <figure>
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51hPHhVepwL._SX333_BO1,204,203,200_.jpg" class="img-responsive" alt="">
                    </figure>
                    <h3>How to Measure Anything</h3>
                    <p>Using simple statistical concepts, find the value of intangibles in business</p>
                    <ul class="follow-us clearfix">
                        <li><a href="https://www.amazon.com/How-Measure-Anything-Intangibles-Business-ebook/dp/B00INUYS2U/ref=sr_1_1?dchild=1&keywords=how+to+measure+anything&qid=1587851356&sr=8-1" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 360px;">
                    <figure><img src="https://m.media-amazon.com/images/I/51oJ-weh4CL.jpg" class="img-responsive" alt=""></figure>
                    <h3>The Success Equation</h3>
                    <p>Untangling Skill and Luck in Business, Sports, and Investing</p>
                    <ul class="follow-us clearfix">
                        <li><a href="https://www.amazon.com/Success-Equation-Untangling-Business-Investing/dp/B00AKL36A0/ref=sr_1_1?dchild=1&keywords=skill+and+lukc&qid=1587853148&sr=8-1-spell" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 360px;">
                    <figure><img src="https://images-na.ssl-images-amazon.com/images/I/51fzl2t69iL._SX332_BO1,204,203,200_.jpg" class="img-responsive" alt=""></figure>
                    <h3>Decision Management Systems</h3>
                    <p>A Practical Guide to Using Business Rules and Predictive Analytics</p>
                    <ul class="follow-us clearfix">
                        <li><a href="https://www.amazon.com/Decision-Management-Systems-Practical-Predictive/dp/0132884380/ref=sr_1_2?dchild=1&keywords=decision+management+systems&qid=1587852985&sr=8-2" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 360px;">
                    <figure><img src="https://m.media-amazon.com/images/I/41CueL9WfHL.jpg" class="img-responsive" alt=""></figure>
                    <h3>Thinking in Bets</h3>
                    <p>Making Smarter Decisions When You Don't Have All the Facts</p>
                    <ul class="follow-us clearfix">
                        <li><a href="https://www.amazon.com/Thinking-Bets-Making-Smarter-Decisions/dp/B078SBSBW3/ref=sr_1_1?dchild=1&keywords=annie+duke&qid=1587854561&s=audible&sr=1-1" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </li>
        </ul>
</div>
</section>

@code {

}
