@page "/ShowMeGetStarted"

<h3>ShowMe and Get Started</h3>
<div style="margin-bottom: 5px;">
    <small class="form-text text-muted"><b>Select the "Show Me" button </b> to expand more information on the Baseball ML Workbench functionality:</small>
</div>

<ShowMe Title="Select and Search Baseball Players" Type="ShowMeSelectAndSearch" />
<br/>
<ShowMe Title="Performing What-If Analysis (Rules Engine)" Type="ShowMeWhatIfRules" />
<br/>
<ShowMe Title="Performing What-If Analysis (Single Machine Learning Model)" Type="ShowMeWhatIfSingleMLModel" />
<br/>
<ShowMe Title="Performing What-If Analysis (Multiple Machine Learning Models)" Type="ShowMeWhatIfMultipleMLModels" />
<br/>
<ShowMe Title="Comparing Multiple Baseball Players" Type="ShowMeComparingMultipleBaseballPlayers" />
<br/>

@code {

}
