<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Baseball ML Workbench</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="WhatIfAnalysisRulesEngine">
                <span class="oi oi-list-rich" aria-hidden="true"></span>What-If (Rules)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="WhatIfAnalysisSingleModel">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span>What-If (Single)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="WhatIfAnalysisMultipleModels">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span>What-If (Multiple)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="About">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span>About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
