@page "/About"

<h3>About</h3>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div>
        <h6 class="pb-2 mb-0"><b>ASP.NET Core Version: </b>3.1.3 LTS</h6>
        <h6 class="pb-2 mb-0"><b>App Last Updated: </b>04.25.2020</h6>
        <h6 class="pb-2 mb-0"><b>Last baseball season data used: </b>2019-2020</h6>
        <h6 class="pb-2 mb-0"><b>Workbench Source Code: </b><a href="https://github.com/bartczernicki/MachineLearning-BaseballPrediction-BlazorApp" target="_blank">GitHub Source Code Repository</a></h6>
        <h6 class="pb-2 mb-0"><b>DockerHub Repository: </b><a href="https://hub.docker.com/r/bartczernicki/baseballmlworkbench" target="_blank">DockerHub Repository</a></h6>
        <h6 class="pb-2 mb-0"><b>Machine Learning Models Training Job Source Code: </b><a href="https://github.com/bartczernicki/MLDotNet-BaseballClassification" target="_blank">GitHub Source Code Repository</a></h6>
    </div>
</div>

@code {

}
