@page "/"

<h2>Welcome to the Baseball Machine Learning Workbench</h2>

<p>The Baseball Machine Learning Workbench is a web application created to explore various analytics, Machine Intelligence techniques using MLB data.</p>
<img src="Images/PredictionBreakdown-DerekJeter.png" width="350" class="img-rounded-circle mx-auto" alt="Prediction breakdown">
<img src="Images/VariableResponse-AllStarAppearances.png" width="350" class="img-rounded-circle mx-auto" alt="Variable Response">
<img src="Images/LearnerPredictionXgBoost.png" width="350" class="img-rounded-circle mx-auto" alt="Prediction Matrix">

<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0"><b>Available Demos:</b></h6>
    <div class="media text-muted pt-3">
        <img data-src="" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16d13f06515%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16d13f06515%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.125%22%20y%3D%2216.95000002384186%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
        <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
            <strong class="d-block text-black-dark">What-If Analysis - Rules Engine</strong>
            This demo showcases how a simple rules engine can be used to attempt to predict baseball Hall Of Fame induction.
            No machine Intelligence is used, rather a simple rule <b> career HRs >= 500 then Hall of Fame is true</b>.
        </p>
    </div>
    <div class="media text-muted pt-3">
        <img data-src="" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16d13f06515%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16d13f06515%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.125%22%20y%3D%2216.95000002384186%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
        <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">What-If Analysis - Single Model</strong>
            This demo showcases how a machine intelligence model can be used to attempt to predict baseball Hall Of Fame induction.
            Machine Intelligence is used to classify the batter baseball data.
            <b>The key difference between the rules engine is a probability is returned; allowing a decision to be made on a probability threshhold</b>.
        </p>
    </div>
    <div class="media text-muted pt-3">
        <img data-src="" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16d13f06515%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16d13f06515%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.125%22%20y%3D%2216.95000002384186%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
        <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">What-If Analysis - Multiple Models</strong>
            This demo showcases how <b>multiple</b> machine intelligence models can be used to attempt to predict appearing on a Hall Of Fame ballot & Hall Of Fame induction.
            Machine Intelligence is used to classify the batter baseball data.
            <b>The key difference between the rules engine is a probability is returned; allowing a decision to be made on a probability threshhold</b>.
        </p>
    </div>
</div>
