@page "/WhatIfAnalysisMultipleModels"

@using BaseballPredictionBlazor.MachineLearning
@using BaseballPredictionBlazor.Shared
@using BaseballPredictionBlazor.Services
@using Microsoft.Extensions.ML;

@inject PredictionEnginePool<MLBBaseballBatter, MLBHOFPrediction> _predictionEnginePool;
@inject BaseballDataSampleService BaseballDataService

<h2>What-If Analysis (Multiple Machine Learning Models)</h2>

@if (isLoaded)
{
    <div>Select a fictitious or real MLB Batter to perform what-if analysis:</div>
    <select class="custom-select" @onchange="@BatterSelected">
        @for (var i = 0; i < batters.Count; i++)
        {
            <option value="@i">@batters[i].FullPlayerName</option>
        }
    </select>

    <p />
    <BaseballPredictionBlazor.Components.BaseballCardParent MultipleModels=true
                                                            Title="Static Prediction" SubTitle="Based on player's actual career statistics"
                                                            Notes="Single prediction of probability of the player being on Hall Of Fame Ballot and probability of being Inducted to Hall Of Fame."
                                                            StaticPrediction=true MLModelPredictionType=MLModelPredictionType.InductedToHallOfFame
                                                            UseMachineLearningModel=true
                                                            BaseBallBatter=selectedBatter />
    <p />
    <BaseballPredictionBlazor.Components.BaseballCardParent MultipleModels=true
                                                            Title="Dynamic Prediction" SubTitle="Based on player's yearly pro-rated career statistics"
                                                            Notes="What-If prediction based on above selected player's single season averages multiplied the slider value of seasons played."
                                                            StaticPrediction=false MLModelPredictionType=MLModelPredictionType.InductedToHallOfFame
                                                            UseMachineLearningModel=true
                                                            BaseBallBatter=selectedBatter />

}
else
{
    <p>Loading...</p>
}

@code {
    bool isLoaded = false;

    public List<MLBBaseballBatter> batters;
    MLBBaseballBatter selectedBatter;

    protected override async Task OnInitializedAsync()
    {
        // Build baseball batters list
        batters = await BaseballDataService.GetSampleBaseballData();

        // Select the initial batter, set UI state
        selectedBatter = batters.FirstOrDefault();

        // set the page to loaded
        isLoaded = true;
    }

    void BatterSelected(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            selectedBatter = batters[index];
            base.StateHasChanged();
        }
    }
}
