<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Baseball AI Workbench</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa-solid fa-house" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WhatIfAnalysisRulesEngine">
                <span class="fa-solid fa-scale-balanced" aria-hidden="true"></span> What-If (Rules Engine)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WhatIfAnalysisSingleModel">
                <span class="fa-solid fa-hexagon-nodes" aria-hidden="true"></span> What-If (Single Model)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WhatIfAnalysisMultipleModels">
                <span class="fa-solid fa-hexagon-nodes-bolt" aria-hidden="true"></span> What-If (Multiple Models)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WhatIfAnalysisAgentic">
                <span class="fa-solid fa-robot" aria-hidden="true"></span> What-If (Agentic Analyis)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InfoAndResources">
                <span class="fa-solid fa-circle-info" aria-hidden="true"></span> Info & Resources
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Weather">
                <span class="fa-solid fa-circle-info" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>
